
/* Top Title */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.title-container .title {
  font-size: 2rem;
  color: #007bff;
  position: relative;
  display: inline-block;
  text-align: center;
}

.title-container .title::after {
  content: "";
  display: block;
  margin: 10px auto 0 auto;
  width: 800px; /* Daha uzun çizgi */
  height: 1.5px;
  background-color: #007bff;
}

  
/* Student ePortfolios */
.student-list {
    padding: 50px 20px;
    background-color: #f0f8ff;
    text-align: center;
}
  
.student-list h1 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.student-list p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 40px;
}

.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.student-card {
  background-color: white;
  border: 2px solid #1da3e2;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 172, 193, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Sabit yükseklik */
  overflow: hidden;
}

.student-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px #1da3e2;
}

.student-card h3 {
  font-size: 1.5rem;
  color: #007c91;
  margin-bottom: 15px;
}

.student-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.student-card .btn {
  background-color: #5abeed;
  width: auto;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.student-card .btn:hover {
  background-color: #1da3e2;
}
  
/* Pagination */
.pagination {
display: flex;
justify-content: center;
align-items: center;
gap: 10px; /* Butonlar arası boşluk */
padding: 1.5rem;
margin-top: 100px;
flex-wrap: wrap;
}
  
.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 0.6rem 1rem;
  background: #ffffff;
  border: 1px solid #007bff;
  border-radius: 6px;
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.pagination a:hover {
  background: #b2ebf2;
}

.pagination a.active {
  background: #007bff;
  color: white;
  pointer-events: none;
}

/* Responsive Grid */
@media (max-width: 600px) {
    .student-list {
      grid-template-columns: 1fr; /* Telefon - 1 sütun */
    }
  
    .hamburger {
      display: flex;
    }
  
    nav ul {
      display: none;
    }
  }
  
/* Responsive Grid */
@media (max-width: 600px) {
  .student-grid {
    grid-template-columns: 1fr; /* Telefon - 1 sütun */
  }
}

@media (min-width: 601px) {
  .student-grid {
    grid-template-columns: repeat(2, 1fr); /* Tablet ve PC - 2 sütun */
  }
}
  